
<div ng-include="headnavbar" ng-cloak></div>

<div class="main-container" id="main-container">
    <script type="text/javascript">
        try{ace.settings.check('main-container' , 'fixed')}catch(e){}
    </script>

    <div class="main-container-inner">
        <a class="menu-toggler" id="menu-toggler" href="" ng-class="{'display': enableDropDownMenu}" ng-click="toggleDropDownMenu()">
            <span class="menu-text" ></span>
        </a>

        <div ng-include="sidenavbar" ng-cloak ></div>

        <div class="main-content">

            <div ng-include="breadcrums" ng-cloak></div>

            <div class="page-content">
                <div class="page-header">
                    <h1>
                        <span ng-bind="currentPage"> </span>
                        <small>
                            <i class="icon-double-angle-right"></i>
                            overview
                        </small>
                    </h1>
                </div><!-- /.page-header -->
                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->


                        <div id="outcome-form">
                            <form novalidate class="form-horizontal field-height" name="outcomeForm">

                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="startDate"> Start Date </label>

                                    <div class="col-sm-9">
                                        <input type="text" ng-pattern="datePattern" datepicker ng-model="outcome.startDate" id="startDate"
                                               name="startDate" placeholder="MM/DD/YYYY"/>
                                        <span ng-show="outcomeForm.startDate.$error['pattern']" class="patient-form-error">Invalid date</span>
                                        <span ng-show="showStartDateError" class="patient-form-error">Date should not be in the future</span>
                                        <span ng-show="showErrorOnCreate(outcomeForm.outcomeCode, 'required')" class="patient-form-error">This field is required</span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="endDate"> End Date </label>

                                    <div class="col-sm-9">
                                        <input type="text" ng-pattern="datePattern" datepicker ng-model="outcome.endDate" id="endDate"
                                               name="endDate" placeholder="MM/DD/YYYY"/>
                                        <span ng-show="outcomeForm.endDate.$error['pattern']" class="patient-form-error">Invalid date</span>
                                        <span ng-show="showEndDateError" class="patient-form-error">Date should not be in the future</span>
                                        <span ng-show="showErrorOnCreate(outcomeForm.outcomeCode, 'required')" class="patient-form-error">This field is required</span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="symptoms"> Symptoms </label>

                                    <div class="col-sm-9">
                                        <input type="text" ng-model="outcome.symptoms" ng-minlength="2" id="symptoms" ng-maxlength="30" required
                                               name="symptoms" placeholder="Symptoms"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="symptoms"> Tolerability </label>

                                    <div class="col-sm-9">
                                        <input type="text" ng-model="outcome.tolerability" ng-minlength="2" id="tolerability" ng-maxlength="30"
                                               required name="tolerability" placeholder="Tolerability"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="procedureCode"> Procedures </label>

                                    <div class="col-sm-9">
                                        <select ng-model="outcome.procedureTypeCode" name="procedureCode" id="procedureCode" required="true">
                                            <option value="">-- Choose Procedure --</option>
                                            <option ng-repeat="s in procedureTypeCodes" value="{{s.code}}"
                                                    ng-selected="s.code == outcome.procedureTypeCode">{{s.displayName}}
                                            </option>
                                        </select>
                                        <span ng-show="showErrorOnCreate(outcomeForm.procedureCode, 'required')" class="patient-form-error">This field is required</span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="cgiSCode"> CGI-S </label>

                                    <div class="col-sm-9">
                                        <select ng-model="outcome.cgiSCode" name="cgiSCode" id="cgiSCode" required="true">
                                            <option value="">-- Choose CGI-S --</option>
                                            <option ng-repeat="s in cgiSCodes" value="{{s.code}}" ng-selected="s.code == outcome.cgiSCode">
                                                {{s.code}} - {{s.displayName}}
                                            </option>
                                        </select>
                                        <span ng-show="showErrorOnCreate(outcomeForm.cgiSCode, 'required')" class="patient-form-error">This field is required</span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="cgiICode"> CGI-I </label>

                                    <div class="col-sm-9">
                                        <select ng-model="outcome.cgiICode" name="cgiICode" id="cgiICode" required="true">
                                            <option value="">-- Choose CGI-I --</option>
                                            <option ng-repeat="s in cgiICodes" value="{{s.code}}" ng-selected="s.code == outcome.cgiICode">
                                                {{s.code}} - {{s.displayName}}
                                            </option>
                                        </select>
                                        <span ng-show="showErrorOnCreate(outcomeForm.cgiICode, 'required')" class="patient-form-error">This field is required</span>
                                    </div>
                                </div>

                                <div class="clearfix form-actions">
                                    <div class="col-md-offset-3 col-md-9">
                                        <a class="btn" href="#/patient/{{selectedPatientId}}/outcomes" id="outcome-back-btn">
                                            <i class="icon-arrow-left bigger-110"></i>
                                            Back
                                        </a>
                                        <a class="btn btn-info" type="button" ng-click="save(outcome)" ng-disabled="!canSave()" id="outcome-save-btn">
                                            <i class="icon-ok bigger-110"></i>
                                            Submit
                                        </a>
                                    </div>
                                </div>
                            </form>
                        </div>


                        <!-- PAGE CONTENT ENDS -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->

            <!--<div ng-include="loginpage" ></div>-->

        </div><!-- /.main-content -->

    </div><!-- /.main-container-inner -->

    <a href="" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse" ng-click="gotoTop()">
        <i class="icon-double-angle-up icon-only bigger-110"></i>
    </a>
</div><!-- /.main-container -->




