<div ng-include="headnavbar" ng-cloak></div>

<div class="main-container" id="main-container">
    <script type="text/javascript">
        try{ace.settings.check('main-container' , 'fixed')}catch(e){}
    </script>

    <div class="main-container-inner">
        <a class="menu-toggler" id="menu-toggler" href="" ng-class="{'display': enableDropDownMenu}" ng-click="toggleDropDownMenu()">
            <span class="menu-text" ></span>
        </a>

        <div ng-include="sidenavbar" ng-cloak ></div>

        <div class="main-content">

            <div ng-include="breadcrums" ng-cloak></div>

            <div class="page-content">
                <div class="page-header">
                    <h1>
                        <span ng-bind="currentPage"> </span>
                        <small>
                            <i class="icon-double-angle-right"></i>
                            overview
                        </small>
                    </h1>
                </div><!-- /.page-header -->
                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->


                          <div id="add-patient-form">
                            <form novalidate class="form-horizontal field-height" name="patientForm" >
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="patientMRN"> Patient ID </label>
                                    <div class="col-sm-9">
                                        <input type="text" ng-model="patient.medicalRecordNumber" id="patientMRN" name="patientMRN"  placeholder="Patient ID"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="patientFirstName"> First Name </label>
                                    <div class="col-sm-9">
                                        <input type="text" ng-model="patient.firstName" ng-minlength="2" id="patientFirstName" ng-maxlength="30"  required name="patientFirstName" placeholder="Patient first name"/>
                                        <span ng-show="showErrorOnCreate(patientForm.patientFirstName, 'required')" class="patient-form-error">This field is required</span>
                                        <span ng-show="showErrorOnCreate(patientForm.patientFirstName, 'minlength')" class="patient-form-error">First name should be atleast 2 characters </span>
                                        <span ng-show="showErrorOnCreate(patientForm.patientFirstName, 'maxlength')" class="patient-form-error">First name should be less than 30 characters </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="patientLastName"> Last Name </label>
                                    <div class="col-sm-9">
                                        <input type="text" ng-model="patient.lastName"  ng-minlength="2" ng-maxlength="30" id="patientLastName" required   name="patientLastName" placeholder="Patient last name"/>
                                        <span ng-show="showErrorOnCreate(patientForm.patientLastName, 'required')" class="patient-form-error">This field is required</span>
                                        <span ng-show="showErrorOnCreate(patientForm.patientLastName, 'minlength')" class="patient-form-error">Last name should be atleast 2 characters </span>
                                        <span ng-show="showErrorOnCreate(patientForm.patientLastName, 'maxlength')" class="patient-form-error">Last name should be less than 30 characters </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" > Gender</label>
                                    <div class="col-sm-9" >
                                        <label class="inline">
                                            <input type="radio"  ng-model="patient.administrativeGenderCode" class="ace" name="patientGender" value="M"/>
                                            <span class="lbl"> Male </span>
                                        </label>
                                        <br />
                                        <label class="inline">
                                            <input type="radio"  ng-model="patient.administrativeGenderCode" class="ace" name="patientGender" value="F"/>
                                            <span class="lbl"> Female </span>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="patientRace">Race</label>
                                    <div class="col-sm-9">
                                        <select ng-model="patient.raceCode" name="patientRace" id="patientRace" >
                                            <option value="">-- choose race --</option>
                                            <option ng-repeat="r in races" value="{{r.code}}" ng-selected="r.code == patient.raceCode">{{r.displayName}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="patientDOB"> Date of Birth </label>
                                    <div class="col-sm-9">
                                        <input type="text" id="patientDOB" ng-pattern="datePattern" datepicker ng-model="patient.birthDate"   name="patientDOB" placeholder="MM/DD/YYYY"/>
                                        <span ng-show="patientForm.patientDOB.$error['pattern']" class="patient-form-error">Invalid date</span>
                                        <span ng-show="showCompareDateError" class="patient-form-error">Date should not be in the future</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="patientZipcode"> Zip code </label>
                                    <div class="col-sm-9">
                                        <input type="text" ng-model="patient.addressPostalCode"  id="patientZipcode"  name="patientZipcode" placeholder="Patient zip code"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" style="padding-right: 12px;" for="patientState"> State </label>
                                    <div class="col-sm-9" >
                                        <select ng-model="patient.addressStateCode" id="patientState" name="patientState" >
                                            <option value="">-- choose state --</option>
                                            <option ng-repeat="s in states" value="{{s.code}}" ng-selected="s.code == patient.addressStateCode">{{s.displayName}}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="clearfix form-actions">
                                    <div class="col-md-offset-3 col-md-9">
                                        <a class="btn" href="#/patients" ng-hide="isDemographics" id="patient-back-btn">
                                            <i class="icon-arrow-left bigger-110 "></i>
                                            Back
                                        </a>
                                        <a class="btn" href="#/patient/{{selectedPatientId}}/demographics"  ng-hide="!isDemographics" id="patient-demo-back-btn">
                                            <i class="icon-arrow-left bigger-110 "></i>
                                            Back
                                        </a>

                                        <a class="btn btn-info" type="button" ng-click="save(patient)" ng-disabled="!canSave()" id="patient-save-btn">
                                            <i class="icon-ok bigger-110"></i>
                                            Submit
                                        </a>
                                    </div>
                                </div>
                            </form>
                            <!--Form: <pre ng-bind="toJSON(patientForm)"></pre>-->
                        </div>


                        <!-- PAGE CONTENT ENDS -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->

            <!--<div ng-include="loginpage" ></div>-->

        </div><!-- /.main-content -->

    </div><!-- /.main-container-inner -->

    <a href="" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse" ng-click="gotoTop()">
        <i class="icon-double-angle-up icon-only bigger-110"></i>
    </a>
</div><!-- /.main-container -->
